.track-title {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animation hướng lên */
.animate-in-up {
  animation: slideInUp 0.3s forwards;
}
.animate-out-up {
  animation: slideOutUp 0.3s forwards;
}

/* Animation hướng xuống */
.animate-in-down {
  animation: slideInDown 0.3s forwards;
}
.animate-out-down {
  animation: slideOutDown 0.3s forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
